@page "{tournamentId:int?}" 
@model LeagueStatsPage.Pages.Tournaments.IndexModel

@{
    ViewData["Title"] = "Tournaments";
}

<h2>Tournaments</h2>

@*<p>
    <a asp-page="Create">Create New</a>
</p>*@
@*<form method="post" tabindex="2">
    <p>
        @Html.DropDownListFor(t => t.SelectedTournament, new SelectList(Model.Tournaments, "TournamentID", "TournamentName"), "Select Tournament", new { @class = "form-control" })
        <input type="submit" value="Filter" />
    </p>
</form>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tournaments[0].TournamentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Teams) {
        <tr>
            <td>
                <img src="@($"../images/TeamIcons/team{item.TeamsID}.png")" height="30" width="30" />
                @Html.DisplayFor(modelItem => item.TeamName)      
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
