@page
@model LeagueStatsPage.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Player Details";
}

<h2>Player Details</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
    <form method="get">
        <p>
            Player Name: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDetails[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDetails[0].Team.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDetails[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDetails[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDetails[0].StartDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PlayerDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.PlayerDetailsID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.PlayerDetailsID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PlayerDetailsID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
