@page
@model LeagueStatsPage.Pages.Players.IndexModel

@{
    ViewData["Title"] = "Player Details";
}

<h1 style="color:white">Player Details</h1>

<form method="post">
    <p>
        @Html.DropDownListFor(t => t.SelectedTeam, new SelectList(Model.Teams, "TeamsID", "TeamName"), "Select Team", new { @class = "form-control" })
        <input type="submit" value="Filter" />
    </p>
</form>
<table data-toggle="table" class="table table-dark">
    <thead>
        <tr>
            <th data-sortable="true" data-width="80">
                @Html.DisplayNameFor(model => model.PlayerDetails[0].Nationality)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.PlayerDetails[0].Name)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.PlayerDetails[0].Team.TeamName)
            </th>
            <th data-sortable="true">
                @Html.DisplayNameFor(model => model.PlayerDetails[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDetails[0].DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerDetails[0].StartDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PlayerDetails)
        {
            <tr>
                <td class="text-center">
                    <span class="flag-icon flag-icon-@item.Nationality"></span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@($"../images/TeamIcons/team{item.TeamsId}.png")" height="30" width="30" />
                    @Html.DisplayFor(modelItem => item.Team.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DOB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
            </tr>
        }
    </tbody>
</table>